<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5">Experience</h2>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Freelance Mobile Developer</h3>
                <div class="subheading mb-3">Mobile Solutions on Android/iOS</div>
                <p>i am working freelance on android-ios platform.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Sept 2015 - Present</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">.Net Software Developer</h3>
                <div class="subheading mb-3">ARAS CARGO</div>
                <p>Developed online communication system and TFS control between developers. Also improving in-house applications. For example Fast Waybill Create Screen for branches, Multiple Cargo Search Application for organizational units. Same time we are improving integration systems with other companies. (Such as hepsiburada.com,n11.com,gittigidiyor.com). We are provided n11.com integration with in house application module via webservices. Provided E-Archive integration with in house application module via webservices.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Sept 2016 - Present</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Senior Software Developer</h3>
                <div class="subheading mb-3">Turkish Army Forces</div>
                <p>i worked Measurement and Evalution Management System</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2015 - July 2016</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Java Software Developer</h3>
                <div class="subheading mb-3">HITSOFT</div>
                <p>I worked as outsource hitsoft. I worked 4 company.</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">November 2013 - August 2015</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Software Developer Intern</h3>
                <div class="subheading mb-3">HITSOFT</div>
                <p></p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Sept 2013 - November 2013</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Software Developer Intern</h3>
                <div class="subheading mb-3">Batik A.S</div>
                <p></p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">July 2011 - August 2011</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Cooker in Ocean City USA with Work/Travel</h3>
                <div class="subheading mb-3">Mc Donald's</div>
                <p></p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">June 2010 - November 2010</span>
            </div>
        </div>
        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">Cooker in Ocean City USA with Work/Travel</h3>
                <div class="subheading mb-3">Fish Tales Restaurant</div>
                <p></p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">June 2010 - November 2010</span>
            </div>
        </div>
    </div>
</section>
