<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            Developer
            <span class="text-primary">Sancho</span>
        </h1>
        <div class="subheading mb-5">
            ISTANBUL/TURKEY · +90 (553) 727-3068 ·
            <a href="mailto:developersancho@gmail.com">developersancho@gmail.com</a>
        </div>
        <p class="mb-5">I am a problem solver with a passion for sharing whatever I learn on Github. I help companies in Backend Development and spread knowledge on the same. Also, I work and research on the mobile technologies.</p>
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://play.google.com/store/apps/developer?id=developersancho" target="_blank">
                    <img src="~/Content/img/google-play-store.png" class="img-thumbnail" width="200" height="200"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://play.google.com/store/apps/developer?id=developersancho" target="_blank">
                    <img src="~/Content/img/apple-app-store.png" class="img-thumbnail" width="200" height="200"/>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://tr.linkedin.com/in/mesut-gen%C3%A7-33b41030" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/developersancho" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
